.cart_section{
    width: 100%;
    height: 100vh;
    padding: 5px;
    background-color:#b8eca7;
}
.heading_div {
    width: 100%;
    padding: 10px 0px;
}
.heading_div h2 {
    width: 25%;
    padding: 5px 0px;
    text-align: center;
    margin: 0px auto;
    color: rgb(255, 255, 255);
}
.checkout_list{
    /* border: 1px solid darkkhaki; */
    height: 70%;
    /* background-color: rgb(213, 213, 213); */
    padding: 10px 2px;
}
.pro_list{
    /* border: 1px solid rgb(255, 132, 0); */
    height: 100%;
    width: 85%;
    background-color: white;
    padding: 5px 2px;
    margin: 0px auto;
    overflow: hidden;
    overflow-y: scroll;
}

.pro_row{
    vertical-align:middle;
}
.pro_image {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    margin-left: -10px;
}

.pro_image img {
    width: 100%;
    height: 100%;

}
.checkout_footer {
    /* border: 1px solid darkorange; */
    margin: 2px 0px;
    padding: 25px 0px;
}
.checkout_buttons{
    /* border: 1px solid rgb(208, 193, 186); */
    padding: 10px 20px;
}
.checkout_buttons form{
    /* border: 1px solid darkorange; */
    width: 50%;
    margin: 0px auto;
}

