.login_section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/public/Images/cover1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.login_main{
    border: 1px solid black;
    height: 100vh;
}
.login_div{
    border: 1px solid white;
    border-radius: 15px;
    width: 50%; 
    margin: 10% auto;
    text-align: center;
    padding: 20px 20px;
    background: rgba(0, 0, 0, 0.2);
}
.login_heading{
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
}
.login_form{
    width: 90%;
    padding: 5px;
}
.login_button{
    width: 100px;
}
@media (max-width:576px){
    .login_div{
        border: 1px solid white;
        border-radius: 15px;
        width: 90%;
        margin: 30% auto;
        text-align: center;
        padding: 20px 20px;
    }
    .login_form{
        width: 100%;
        padding: 0px;
    }
}
