.product_section{
    width: 100%;
    height: 130vh;
    padding: 2px;
    /* background-color: rgb(224, 223, 220); */
}
.searchbar_div {
    width: 100%;
    height: 8%;
    /* background-color: rgb(171, 169, 169); */
}
.searchbar_div form{
    width: 80%;
    margin: 0px auto;
}
.all_products{
    width: 100%;
    height: 92%;
    padding: 1px;
}
.products_list {
    width: 95%;
    border: 1px solid rgb(159, 152, 152);
    border-radius: 5px;
    height: 100%;
    margin: 0px auto;
    padding: 0px 3px;
    overflow: hidden;
    overflow-y: scroll ;
    scroll-behavior: smooth;    
}
.product_card{
    height: 500px;
    width: 300px;
    margin: 5px 3px;
    float: left;
}
@media (max-width:576px){
    .searchbar_div form {
        width: 100%;
        margin-top: 10px;
    }
    .products_list {
        width: 100%;
        /* border: 1px solid brown; */
        height: 100%;
        margin: 0px auto;
        padding: 0px 3px;
        overflow: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
}
